@font-face {
    font-family: BNazanin;
    src: url("/fonts/BNazanin.woff");
}


body {
    overflow-x: hidden;
    margin: 0px !important;
    width: 100% !important;
    color: #ffffff;
    /*background-image: url('/images/background.jpg');*/
    background-color: #0c0c0ce8;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
body *{
    font-family: BNazanin !important;
}
.space-between{
    justify-content: space-between;
}

.spacer{
    padding: 1rem 0 !important;
}

.pd-v-3{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.rtl-row{
    display: flex;
    flex-direction:row-reverse ;
    align-items: center;
}



header{
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    background-color: #282538;
    margin-bottom: 1rem;
}
hr{
    padding: 0 !important;
    margin: 0 !important;
}

.responsive-image{
    display:block;
    max-width:100%;
    height:auto;
    margin-right:auto;
    margin-left:auto
}
.light-hr{
    background-color: #a2a2a2;
}
.clickable{
    text-decoration: none !important;
    color: #dc5414 !important;
}

.white-text{
    color: white;
}



.top-nav {
    position: fixed;
    top: 0 !important;
    right: 0;
    left: 0;
    padding: 1rem;
    z-index: 10;
    background-color: #282538;
}

.d-nav{
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: .5rem 2rem;
    z-index: -1 !important;
    background-color: black;
    width: 100%;
    box-shadow: -3px 2px 3px 1px #080808;
    position: absolute;
}




.moved-up{
    transform: translateY(-100%);
    transition: .5s;
}
.moved-down{
    transform: translateY(0px);
    transition: .5s;

}








