@font-face {
    font-family: BNazanin;
    src: url("/fonts/BNazanin.woff");
}


body {
    overflow-x: hidden;
    margin: 0px !important;
    width: 100% !important;
    color: #ffffff;
    /*background-image: url('/images/background.jpg');*/
    background-color: #0c0c0ce8;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
body *{
    font-family: BNazanin !important;
}
.space-between{
    justify-content: space-between;
}

.spacer{
    padding: 1rem 0 !important;
}

.pd-v-3{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.rtl-row{
    display: flex;
    flex-direction:row-reverse ;
    align-items: center;
}


header {
    z-index: 10;
    top: 0;
    margin: 0 !important;
    min-width: 100%;
    padding: 1rem 0rem !important;
    background-color: #222020;
    position: relative;
    box-shadow: -1px 5px 20px 7px black;
}

header a{
    color: #ff487e !important;
}
hr{
    padding: 0 !important;
    margin: 0 !important;
}

.responsive-image{
    display:block;
    max-width:100%;
    height:auto;
    margin-right:auto;
    margin-left:auto
}
.light-hr{
    background-color: #a2a2a2;
}
.clickable{
    text-decoration: none !important;
    color: #fed332 !important;
}

.white-text{
    color: white;
}



.top-nav {
    position: fixed;
    top: 0 !important;
    right: 0;
    left: 0;
    padding: 1rem;
    z-index: 10;
    background-color: #222020;
}





/*.bottom-nav li{*/
/*    position: absolute;*/
/*    padding: 0 1rem !important;*/
/*    margin: 0 1rem !important;*/
/*}*/




.banner-1 {
    padding: 1rem;
}



.dnav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.dnav li{
    display: inline-block;
    padding: 0 1rem !important;
}
.dnav ul{
    text-align: right;
    direction:rtl ;
    padding: 0 2rem;
    margin: 0;
}












