.product-tile-title {
    color: #ffffff !important;
    padding-top: 1rem !important;
}

.product {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.c-product-img {
    width: 100%;
}

.c-product-info {
    width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: 'gypsy';
}

.c-product-price {
    color: #dc5414 !important;
}

.add-to-cart-btn {
    cursor: pointer;
}

.side-section {
    text-align: right;
    padding: 1rem;
    background: #0c0c0ce8;
    border-radius: 7px;
}

.side-section-header {
    padding: .5rem 0;
    border-bottom: 1px solid #fcfcfc;

}

.products-wrapper {
    background: #0c0c0ce8;
    border-radius: 2px;
}
.shop-sort-filter{
    text-align: right;
    padding-top: 1rem;
}
.shop-sort-filter p{
    direction: rtl;
}
.shop-sort-item{
    font-size: 16px !important;
    color: #ffffff !important;
    padding: 0 .5rem;
}
.shop-sort-item:hover{
    text-decoration: none!important;
}
