@font-face {
    font-family: sans;
    src: url(snas.ttf);
}
body{
    font-family: sans !important;
    text-align: right !important;
    font-family: 'IranSans';
    font-size: 16px;
}
main{
    direction: rtl !important;
    width: 80% !important;
    left: 0;
    top: 0;
}
.pd-v-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.right-aligned{
    text-align: right;
}
.control-container{
    padding: 2rem;
}

