
@font-face {
    font-family: BNazanin;
    src: url("/fonts/BNazanin.woff");
}


body {
    overflow-x: hidden;
    margin: 0px !important;
    width: 100% !important;
    color: #000;
    background-image: url('/images/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
body *{
    font-family: BNazanin !important;
}

header {
    z-index: 10;
    top: 0;
    margin: 0 !important;
    min-width: 100%;
    padding: 1rem 0rem !important;
    background-color: #222020;
    position: relative;
    box-shadow: -1px 5px 20px 7px black;
}

header a{
    color: #ff487e !important;
}


.rtl-row{
    display: flex;
    flex-direction:row-reverse ;
    justify-content: space-between;
    align-items: center;
}


.pd-v-3{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}


.top-nav {
    position: fixed;
    top: 0 !important;
    right: 0;
    left: 0;
    padding: 1rem;
    z-index: 10;
    background-color: #222020;
}
.search-bar{
    width: 100%;
    background-color: #FFFFFF;
    outline: none;border-radius: 10px;
    padding: .75rem;
    text-align: right;
}

.top-nav ul {
    /*display: flex;*/
    /*list-style: none;*/
    /*margin: 0 !important;*/
    /*padding: 0 !important;*/
}

.top-nav li {
    /*padding: 0 1rem;*/
}

.dm-icon {
    width: 24px;
}

.tpn-right {
    /*padding: 0 .5rem;*/
}

.logo-type {
    color: #ffffff;
    margin: 0;
}


.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #222020;
    z-index: 100;
}

.bottom-nav li {
    display: inline;
    list-style: none;
    color: #ffffff;
}

.bottom-nav ul.navigation-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 0 !important;
    padding: .5rem 0;
    width: 100%;
    align-items: center;
}

.nav-menu {
    position: fixed;
}

.right-menu {
    right: 0;
    padding-right: .5rem;
}

.left-menu {
    left: 0;
    padding-left: .5rem;

}

.bottom-logo {
    position: absolute;
    padding-bottom: 2rem;
}

.nav-menu li {
    padding: 0 .5rem;
}

.navigation-link {
    color: #ffffff;
}

/*.bottom-nav li{*/
/*    position: absolute;*/
/*    padding: 0 1rem !important;*/
/*    margin: 0 1rem !important;*/
/*}*/
.product {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.c-product-img {
    width: 100%;
}

.c-product-info {
    width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: 'gypsy';
}

.c-product-price {
    color: #fed332 !important;
}

.section1 {
}

.section2 {
    padding: 2rem 0;

}
.section3{
    margin-bottom: 2rem;
}
.section4{
    padding-bottom: 2rem;
}
.st-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #cc3843, purple);
    padding: 2px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.story{
    width: 78px !important;
    height: 78px !important;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    /*padding: 1rem;*/
}
.banner-1 {
    padding: 1rem;
}


.st{
    margin: 0 .25rem;
}
.overflow-auto::-webkit-scrollbar {
    display: none;
}

.dnav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.dnav li{
    display: inline-block;
    padding: 0 1rem !important;
}
.dnav ul{
    text-align: right;
    direction:rtl ;
    padding: 0 2rem;
    margin: 0;
}

.product-tile-title{
    color: #ffffff !important;
    padding-top: 1rem !important;
}

.add-to-cart-btn:hover{
    cursor: pointer;
}
.cart-section{
    direction: rtl;
}
.cart-section *{
    color: #ffffff !important;
}

@media screen and(max-width: 550px) {
    .search-bar{
        padding: 0 !important;
    }
    .top-nav{
        background-color: red !important;
    }
}







