.product-tile-title{
    color: #ffffff !important;
    padding-top: 1rem !important;
}
.product {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.c-product-img {
    width: 100%;
}

.c-product-info {
    width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: 'gypsy';
}

.c-product-price {
    color: #fed332 !important;
}
.products-section{
    background-color: #0c0c0ce8;
    min-height: 100vh;
}
.add-to-cart-btn{
    cursor: pointer;
}
